/* body {
    background-color: #bc8686;  
} */


.navbar {
    background-color: #f8f9fa;
    height: 5rem; 
}

.fa-house {
    font-size: 2rem;
    color: #4994f5;
}

.nav-link {
    font-size: 1.2rem;
    color: #222222 !important;
    font-weight: 500 !important;
}





/*footer */


.f-info {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #666666;
    border-top: 1px solid #e0e0e0;
}